body{
    background-color: rgb(24, 32, 43);
    margin: 0;
    padding: 0;
}
.nav_container{
    margin: 50px;
    color: white;
    display: flex;
    gap: 50px;
    align-items: center;
    list-style: none;
}
.menu{
    text-decoration: none;
    color: white;
}
.menu:hover{
    color: orange;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* .article{
    
} */